

<% flat = data.flats[owner] %>

<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path flat.picture %>');">
  <div class="header-flat">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="header-flat-details">
            <div class="header-flat-owner">
               <%= image_tag flat.owner_picture, class: "card-user avatar avatar-large" %>
               <p> <%=flat.owner_name %> </p>
            </div>
            <div class="header-flat-name">
              <h1> <%=flat.summary%></h1>
              <p> <%=flat.city%></p>

              <i class="fa fa-star" style="color: #cacccd"></i>
              <i class="fa fa-star" style="color: #cacccd"></i>
              <i class="fa fa-star" style="color: #cacccd"></i>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="flat-description">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      <h2>About this page</h2>
      <p>flat.summary</p>
      </div>
    </div>
  </div>
</div>
 -->


